## Session 5 (Dict & example)

### Dictionaries

In [37]:
ages = {"hamid": 29, "ali": 21, "sara": 6, "reza": 4}
print(ages["ali"])
print(len(ages))

21
4

In [38]:
for x in ages:
    print(x)

hamid
ali
sara
reza

In [39]:
for v in ages.values():
    print(v)

29
21
6
4

In [40]:
for k, v in ages.items():
    print(k, v)

hamid 29
ali 21
sara 6
reza 4

In [41]:
for name, age in ages.items():
    print(f'{name} is {age} years old')

hamid is 29 years old
ali is 21 years old
sara is 6 years old
reza is 4 years old

### adding/removing items to/from a dict

In [42]:
ages.pop("ali")
print(ages)

{'hamid': 29, 'sara': 6, 'reza': 4}

In [43]:
ages["babak"] = 23
print(ages)

{'hamid': 29, 'sara': 6, 'reza': 4, 'babak': 23}

### nested structures

In [44]:
favorite_foods = {
    "ali": ["pizza", "ghorme sabzi"],
    "hamid": ["kalpache", "burger", "kookoo"],
    "sara": ["pizza", "kookoo"]
}

In [45]:
print(favorite_foods["hamid"])

['kalpache', 'burger', 'kookoo']

### Supermarket Sales Dataset

In [1]:
# reading from file
f = open('supermarket_sales - Sheet1.csv', 'r')

# reading the lines of the file
lines = f.readlines()

In [8]:
# printing the first 3 lines
lines[:3]

['Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating\n',
 '750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1\n',
 '226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6\n']

In [15]:
# we have to split the lines using a delimeter
lines[1].split(',')[5]

'Health and beauty'

In [18]:
# we only need the gender & product line columns for our purpose
# note that we extract these columns in a list of tuples format
data = []
for line in lines[1:]:
    cols = line.split(',')
    data.append((cols[4], cols[5]))

data[:5]

[('Female', 'Health and beauty'),
 ('Female', 'Electronic accessories'),
 ('Male', 'Home and lifestyle'),
 ('Male', 'Health and beauty'),
 ('Male', 'Sports and travel')]

In [19]:
male_stats = {}
female_stats = {}
for d in data:
    gender, p_line = d
    if gender == 'Female':
        if p_line in female_stats:
            female_stats[p_line] += 1
        else:
            female_stats[p_line] = 1
    elif gender == 'Male':
        if p_line in male_stats:
            male_stats[p_line] += 1
        else:
            male_stats[p_line] = 1

In [20]:
male_stats

{'Home and lifestyle': 81,
 'Health and beauty': 88,
 'Sports and travel': 78,
 'Electronic accessories': 86,
 'Food and beverages': 84,
 'Fashion accessories': 82}

In [27]:
# we can sort the above dict using python built-in function
male_stats_sorted = sorted(male_stats.items(), key=lambda x: x[1], reverse=True)
male_stats_sorted

[('Health and beauty', 88),
 ('Electronic accessories', 86),
 ('Food and beverages', 84),
 ('Fashion accessories', 82),
 ('Home and lifestyle', 81),
 ('Sports and travel', 78)]